.navbar {
    width: 97.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: white; /* Adding a background color to make the shadow more prominent */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.left {
    display: flex; 
    align-items: center; 
}

.Logo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px; 
}

.Emri {
    font-size: 18px; 
    margin: 0;
}

.right {
    display: flex; 
    align-items: center; 
    gap: 15px;
}
a.H ,.C ,.M{
    text-decoration: none;
    font-weight: bold;
}
.H, .C{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.S, .L {
    text-decoration: none; 
    color: black; 
    padding: 10px;
    margin-right: 30px; 
}

.S:hover, .L:hover {
    color: white; 
    background-color: rgb(9, 214, 187); 
    border-radius: 20px;
}
.TEXTI{
    display: flex;
    justify-content: center;
}
#text{
    font-size: 28px;
    font-weight: bolder;
}